<meta charset="utf-8">
<title>JRCrypt</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<style>
body {
	background-color: #ECECEC;
	padding: 40px;
}
.title {
	margin: 20px 0;
}
small.positive {
	font-size: 24px;
	color: 	green;
}
small.negative {
	font-size: 24px;
	color: red;
}
.header {
	padding-bottom: 10px;
	border-bottom: 1px dashed #bfbfbf;
}
.price {
	margin: 32px 0;
}
</style>