<div class="row">
	<div class="col-sm">
		<div>
			<p><strong>What is it?</strong> A simple visualize of your current AUD($) position if you were to liquidate your coins today. It uses the current conversion rates on popular exchanges such as BTCMarkets, Binance and Bitgrail to work out the AUD($) value of each of your holdings.</p>
			<p><strong>How to use it?</strong> Change the values in the URL below to match your portfolio and remove any coins you do not hold. Then, press enter!</p>
			<p><strong>URL: </strong><code>https://jrcrypt.herokuapp.com/?BTC=0.1&amp;ETH=1&amp;XRP=100&amp;BCH=0.5&amp;LTC=2&amp;XRB=25&amp;REQ=1000&amp;IOTA=250ADA=500&amp;AUD=5000</code></p>
		</div>
	</div>
</div>