<div class="row">
	<div class="col-sm">
		<p class="footer text-center">
			<small><strong>Last Updated:</strong> <%= DATA_RETRIEVED %></small>
			<span class="text-muted"> | </span>
			<small>Code on <a href="https://github.com/jrandeniya/jrcrypt">Github</a>.</small>
		</p>
	</div>
</div>