<meta charset="utf-8">
<title>jrCrypt</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= GA %>"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', '<%= GA %>');
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://emn178.github.io/Chart.PieceLabel.js/src/Chart.PieceLabel.js"></script>
<style>
body {
	background-color: #ECECEC;
}
.title {
	margin: 16px 0;
}
small.positive {
	font-size: 24px;
	color: 	green;
}
small.negative {
	font-size: 24px;
	color: red;
}
.header {
	margin: 16px 0;
	padding-bottom: 10px;
	border-bottom: 1px dashed #bfbfbf;
}
.header > small {
	float: right;
	font-size: 14px;
}
table.table {
	margin-top: 2rem;
}
p.footer {
	margin: 20px 0;
}
div.jrcrpt-notif {
	text-align: center;
	font-size: 12px;
	margin: 0;
    padding: 0.5rem;
}
</style>