<div class="row">
	<div class="col-sm">
		<h3 class="header">
			<strong>jrCrypt</strong>
			<small class="text-muted"><strong>URL supports:</strong> BTC, ETH, XRP, BCH, LTC, IOTA, REQ, XRB, ADA, XLM &amp; AUD</small>
		</h3>
	</div>
</div>