<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container">
		<% include ../partials/header %>
		<div class="row">
			<div class="col-sm">
				<p class="text-center text-danger"><strong>ERROR: </strong><%= error %></p>
			</div>
		</div>
	</div>
</body>
</html>